.action-option-icons {
text-align: right;

}

.review-card {
  margin:10px;
  padding:20px;
}

.review-list-item {
  list-style: none;
}

.text-standout h2 {
  font-size: 40px;
  text-align:center;
  font-style: italic;
  color: #162EA4;
}
