<h1>Check out our Restaurants</h1>


<table class='table'>
  <tr>
    <th>Name</th>
    <th>Category</th>
  </tr>
  <% @restaurants.each do |restaurant| %>
  <tr>
    <td>
      <%= restaurant.name %>
    </td>
    <td>
      <%= restaurant.category %>
    </td>
    <td>
       Show
    </td>
    <td> Edit</td>
    <td> Destroy
    </td>
  </tr>
  <% end %>
</table>


